body{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.head{
    background-color: rgb(47, 14, 79);
    padding: 5px;
    margin: 2px;
    border-radius: 6px;
    box-shadow: 0px 0px 7px 5px rgb(0, 0, 0);
    display: flex;
    margin: 10px;
    margin-bottom: 20px;
}

.name{
    flex: 94%;
    color:azure;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    padding: 5px;
    text-align: center;
}


.dayshifter{
    flex:6%;
    align-self: flex-end;
    flex-direction: column;
    
}
#shifter{
    background-color: white;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgb(0,0,0);
    box-shadow: 0px 0px 2px 1px white;
}
#shifter:hover{
    zoom: 1.05;
    border-radius: 10%;
}

.calci{
    background-color: rgb(47, 14, 79);
    height:100%;
    width:auto;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 5px rgb(0, 0, 0);
    display: grid;
    grid-template-rows: 12% 88%;
    padding: 10px;
}

.screen{
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 10px;
    font-size: 2.7rem;
    text-align:end;
    border: 4px solid black;
    cursor:text;
    box-shadow: 0px 0px 10px 2px white;
}
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance:none;
    margin:0px;
}

.gridss{
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    height: auto;
}


.gridss button{
    margin: 10px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 1px white;
    font-size: large;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: 600;
}
.gridss button:hover{
    color: rgb(255, 255, 255);
    zoom: 1.05;
    background-color: rgb(47, 14, 79);
}

#submit{
    background-color: rgb(47, 14, 79);
    color: aliceblue;
    grid-column: 1/4;
}